<hr>
<h1>
  Cards
</h1>
<hr>
<ul>
    <li>
        IndianOil Citi Platinum Card.
    </li>
    <li>
        ICICI Bank Coral Contactless Credit Card.
    </li>
    <li>
        Yatra SBI Credit Card.
    </li>
    <li>
        The Jet Airways American Express Platinum Credit Card
    </li>
    <li>
        HSBC Visa Platinum Card.
    </li>
    <li>
        Citi Cashback Card.
    </li>
    <li>
        HDFC Bank Diners Club Black Card.
    </li>
    <li>
        IndusInd Bank Platinum Card.
    </li>
    <li>Prepaid Credit Card
      
    </li>
    <li>
        Charge Credit Card
    </li>
    <li>
        Specialty Credit Card
    </li>
</ul>