
<body background=".\assets\Images\image1.jpg" alt="Image not available">
  
<h1> 
  Banking Systems
</h1>

<ul class="c">
    <div class="xyz">
  <li class="ab">
    <a routerLink="">Home </a>
  </li>
  <li class="ab">
    <a routerLink='news'>News </a>
  </li>
  <li class="ab"> 
    <a routerLink="login">Login </a>
  </li>
  <li class="ab">
    <a routerLink="services">Services </a>
  </li>
  <li class="ab"> 
    
    <a routerLink="contactus">Contactus </a>
  </li>
</div>
</ul>

</body>
<router-outlet></router-outlet>





