<br>

<hr>
<h1>
  Welcome to xyz Bank of America
</h1>
<br>
<h2>
  News Section
</h2>
<br>
<p>
  In 1986 NewsBank had one-hundred employees in-house.
  Another one-hundred employees worked from home and would travel 
  to the company's headquarters, bring back newspapers
   to their residence from there, and then come back to the company
    with indexed information on these publications.</p>
    <p> The company's headquarters in 1986 was in New Canaan,
       Connecticut. Chris Andrews was brought on in 1986
        as Product Manager for CD-ROM. His job was to help the 
        company transition from a paper format of delivery
</p>